<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qurey2</title>
</head>
<body>
<h1>Broadway Air-Con Query</h1>

<form method="post" action="/">
    <label for="type">Air-Conditioner Type:</label><br>
    <input type="text" id="type" name="Air-Conditioner Type"><br>
    <br>
    <label for="brand">Brand Name:</label><br>
    <input type="text" id="brand" name="Brand Name"><br>
    <br>
    <label for="budget">Budget:</label><br>
    <input type="text" id="budget" name="Budget"><br>
    <br>
    <label for="hp">Horse Power:</label><br>
    <input type="text" id="hp" name="Horse Power"><br>
    <br>
    <button type="submit">Submit</button>
</form>

{{message}}
</body>
</html>