<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qurey Page</title>
</head>
<body>
<h1>Broadway Air-Con Query</h1>

<form method="post" action="/">

    <label>Air-Conditioner Type:</label><br>
    <input type="radio" id="type_all" name="ac_type" value="All" checked>
    <label for="type_all">All</label>
    {% for type_item in ["Window", "Split"] %}
    <input type="radio" id={{type_item}} name="ac_type" value={{type_item}}>
    <label for={{type_item}}>{{type_item}}</label>
    {% endfor %}
    <br><br>

    <label>Brand Name:</label><br>
    <select id="brand_name" name="brand_name">
        {% for brand_item in brand_list %}
        <option value={{brand_item}}>{{brand_item}}</option>
        {% endfor %}
    </select><br><br>

    <label for="budget">Budget:</label><br>
    <input type="text" id="budget" name="budget" value="{{budget}}">
    <br><br>

    <label>Horse Power:</label><br>
    <input type="radio" id="hp_all" name="hp" value="All" checked>
    <label for="hp_all">All</label>
    {% for hp_item in ["3/4", "1", "1.5", "2", "2.5"] %}
    <input type="radio" id={{hp_item}} name="hp" value={{hp_item}}>
    <label for={{hp_item}}>{{hp_item}}</label>
    {% endfor %}
    <br><br>

    <button type="submit">Submit</button>
</form>
<br>
{{message}}

{% for suggestion in suggestions %}
<table>
    <tr>
        <td>Broadway Code:</td>
        <td>{{suggestion['broadway_code']}}</td>
    </tr>
    <tr>
        <td>Types:</td>
        <td>{{suggestion['ac_type']}}</td>
    </tr>
    <tr>
        <td>Brand Name:</td>
        <td>{{suggestion['brand_name']}}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{suggestion['price']}}</td>
    </tr>
    <tr>
        <td>Link:</td>
        <td><a href={{suggestion['url']}}>learn more</a></td>
    </tr>
</table>
<br>
{% endfor %}
</body>
</html>